*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}

.main-section{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#container{
    width: 50%;
    /* height: 350px; */
    border: none;
    border-radius: 10px;
    box-shadow: 5px 5px 20px black;
    padding: 10px;
}
h1{
    text-align: center;
    margin: 20px;
    font-size: 35px;

}

h2{
    
    margin: 20px;
}


input{
    margin: 10px;
    margin-left: 20px;
    display: inline-block;
    cursor: pointer;


}

label{
    display: inline-block;
    margin: 10px;
    font-size: 18px;
    cursor: pointer;
    transition: 2s;
}

input,label:hover{
    font-size: 21px;
    transition-duration: 1s;
}

.btn{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    /* padding: 10px; */

}

button{
    width: 90%;
    height: 100%;
    background-color: orangered;
    border-radius: 10px;
    border:none;
    color: white;
    font-size: 20px;
    font-weight: 600;
    margin: 20px;
    box-shadow: 3px 3px 10px rgb(87, 86, 85);
    cursor: pointer;
    transition: 1s;

}

button:hover{
    width: 95%;
    transition-duration: 1s;
}